---
layout: archive
---

<h3 class="archive__subtitle"><a href="/index_by_update_time.html">按更新时间排序</a></h3>
<h3 class="archive__subtitle"><a href="/by_years.html">按年份归档</a></h3>
<h3 class="archive__subtitle"><a href="/by_tags.html">按标签归档</a></h3>

<h3 class="archive__subtitle">Projects</h3>
<ol>
  <li><a href="https://github.com/coder114514/tetris">tetris和hatetris (C++命令行)</a></li>
  <li><a href="https://github.com/coder114514/ASCII_Rick_Roll">ASCII Rick Roll (C++命令行)</a></li>
  <li><a href="https://github.com/coder114514/DuiPai">对拍程序 (C++命令行)</a></li>
  <li><a href="https://github.com/coder114514/verlet">使用verlet积分做的一些简单的物理模拟 (python pygame)</a></li>
</ol>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% assign posts = site.posts %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
